html {
    font-size: 90%;
    font-family: system-ui, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/*HEADER*/
.container-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-logo i {
    font-size: 2rem;
    color: gold;
}

.container-logo h1 a {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: gold;
}

.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user {
    font-size: 3rem;
    color: #436cc4;
    padding-right: 2.5rem;
    font-size: 2.2rem;
    gap: 4rem;
}

.content-shopping-cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 14px;
}

.notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 15px;
    border-radius: 16px;
    top: -8px;
    right: -5px;
    font-size: 0.4em;
    text-align: center;
    color: #fcaf45;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
    position: relative;
}

.product-card h3 {
    margin-top: 0;
}

.product-image img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 4px;
}

.product-card p {
    margin: 8px 0;
}

.product-details {
    margin: 0;
    height: 150px;
}

/* NAVBAR */
.container-navbar {
    background-color: #030d97;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: gold;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #fff;
}

#arrow-left {
    display: none;
}

#arrow-right {
    display: inline-block;
}

/* search */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.label-icon-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    color: black;
}

.search-input {
    flex: 1;
    width: 100%;
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
}

.search-icon {
    cursor: pointer;
    position: absolute;
    right: 8px;
}

#resultsContainer {
    margin-top: 50px;
    margin-bottom: 100px;
}

/*Products */
.container {
    width: 90%;
    margin: 0 auto;
}

.heading-1 {
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-products {
    background-color: rgb(255, 255, 255);
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card-product {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #a3a3a3;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-img {
    position: relative;
    margin-bottom: 1rem;
    background-color: red;
}

.container-img img {
    width: 100%;
    border-radius: 0.25rem;
}

.content-card-product {
    text-align: center;
}

.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}

.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
}

.content-card-product h3 {
    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
}

.container-user {
    color: gold;
}

.button-group {
    position: absolute;
    top: 10%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover .button-group {
    z-index: 0;
    opacity: 1;
}

.button-group span {
    border: 1px solid #a3a3a3;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #436cc4;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover {
    background-color: gold;
}

.button-group span:hover i {
    color: green;
}

.button-group span i {
    font-size: 1.5rem;
    color: white;
}

/* FOOTER*/
.footer {
    background-color: #181818;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: gold;
}

.contact-info,
.information,
.my-account,
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
    color: gold;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #17e922;
    gap: 1rem;
}

.boxes img {
    width: 50px;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.social-icons span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.2rem;
}

.tiktok {
    background-color: #000000;
    cursor: pointer;
}

.youtube {
    background-color: #c4302b;
    cursor: pointer;
}

.whatsapp {
    background-color: #35e91d;
    cursor: pointer;
}

.instagram {
    background: linear-gradient(#405de6,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #fcaf45);
    cursor: pointer;
}

.content p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.content input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #3680ee;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: #3680ee;
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder {
    color: #eee;
}

.content button {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover {
    color: #436cc4;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    color: goldenrod;
    border-top: 1px solid gold;
}

.copyright p {
    font-weight: 400;
    font-size: 1.6rem;
}

@media (min-width: 1024px) {
    .container {
        max-width: 110rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .container-logo {
        display: none;
    }

    .navbar .fa-bars {
        display: block;
        color: #fff;
        font-size: 3rem;
    }

    .product-card {
        width: 150px;
        height: 250px;
    }

    .product-image img {
        height: 150px;
    }

    #arrow-left {
        display: inline-block;
    }

    #arrow-right {
        display: none;
    }

    .form input {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .container {
        width: 90%;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 468px) {
    html {
        font-size: 42.5%;
    }

    .heading-1 {
        font-size: 2.8rem;
    }

    .container-options span {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .container {
        width: 90%;
    }

    .card-product {
        margin-left: 0;
        width: 100%;
    }

    .container-img .discount {
        font-size: 2rem;
    }

    .content-card-product h3 {
        font-size: 2.2rem;
    }

    .contact-info ul,
    .information ul,
    .my-account ul {
        display: none;
    }

    .contact-info {
        align-items: center;
    }

    .form input {
        width: 100%;
    }

    .menu-footer {
        grid-template-columns: 1fr;
    }

    .content p {
        font-size: 1.6rem;
    }
}